body{
    text-align: center;
    background-color: rgb(4, 50, 81);
}

h1{
    font-family: 'Games', sans-serif;
    margin: 5%;
    font-size: 3rem;
    color: #FEF2BF;
}

.containers{
    display: block;
    width: 50%;
    margin: auto;
}

.box{
    margin: 25px;
    display: inline-block;
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;
}

.game-over {
    background-color: red;
    opacity: 0.8;
  }

.green{
    background-color: rgb(3, 119, 3);
}


.red{
    background-color: red;
}

.yellow{
    background-color: yellow;
}

.blue{
    background-color: blue;
}

.pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
  }
